#contactDetailsPreview{
    padding: 30px 100px;
    div{
        float: left;
    }

    #digitalAddresses{
        width: 29%;
        border: 1px solid;
    }

    #feedbackForm{
        width: 40%;
        border: 1px solid;
    }

    #physicalAddress{
        width: 30%;
        border: 1px solid;
    }
}