@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

#landingPagePreviewComponent{
    // margin: 0 20%;
    width: 100%;

    #navigationComponent{
        display: block;
        margin: 15px auto;
        text-align: center;
        width: 100%;
    }

    #landingIntro{
        position: relative;
        // height: 40vh;

        #banner{
            width: 35%;
            display: block;
            margin: 12vh auto 50px auto;
        }

        #brandSlogan{
            text-align: center;
            font-family: 'Oleo Script', cursive;
            letter-spacing: 3px;
            color: #333333;
        }
    }

}