#landingPagePreviewComponent{

    #landingIntro{
        position: relative;
        border: 1px solid;
        height: 70vh;

        #banner{
            width: 40%;
            display: block;
            margin: 80px auto 0 auto;
        }

        #navigationComponent{
            position: absolute;
            bottom: 2px;
            left: 44vw;
        }
    }

    #contactDetailsComponent{
        background-color: beige;
        height: 29.8vh;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}