.dashboardEntry{
    box-shadow: 1px 1px 4px rgb(0 0 0 / 0.2);
    background-color: #FFFFFF;
    padding: 10px 15px 10px 15px;
    width: 30%;
    margin: 0 12px;

    .displayHeader{
        font-size: 18px;
    }

    input{
        display: block;
        margin: 3px 0 11px 0;
    }

    .indicatorBad{
        height: 3px;
        background-color: red;
    }

    .indicatorGood{
        height: 3px;
        background-color: green;
    }
}