#navigationPreviewComponent{
    box-shadow: 0 1px 4px rgb(0 0 0 / 0.2);
    max-height: 85px;
    
    #navItems{
        align-items: center;
        .navItem{
            color: #333333;
            cursor: pointer;
        }
    }

    #navContainer{
        display: flex;
        margin: 0 auto;
    }

    #lushLogo{
        width: 100px;
    }

    #navToggle{
        position: relative;
        right: 0;
    }
}