#stockPagePreviewComponent{
    padding: 15px 40px;
    height: 90%;
    overflow-y: scroll;

    thead{
        position: relative;

        #tableHeader{
            position: fixed;
            width: 100vw;
            color: white;
        }
    }

    h4{
        font-size: 18px;
    }

    #debtRecords{
        margin-bottom: 50px;
    }
}